.App{
  overflow:visible ;
  text-align: center;
  margin: 2vh;
  gap: 2rem;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bolder;
  flex-wrap: wrap;
}
.sale{
  text-align: center;
  color: aliceblue;
  width: 45px;
  margin-left: 17vh;
  background-color: rgb(9, 10, 9);
  text-align: right;
  font-weight:lighter;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.sale-top{
  background-color: rgb(224, 225, 226);
}
.image{
 
  

 
 
}
.setup{
 
  text-align: center;
  border: 1px solid rgb(18, 17, 17);
  width: 100%;
  height: 15vh;

background-color: rgb(7, 15, 15);


  
}


.index{
  color: azure;
  text-align: center;
  margin: 25px;
 
  font-family: sans-serif;
}
.index1{
 color: rgb(179, 184, 187);
}

.navbar li{
  list-style-type: none;
  padding: 10px;
  

  text-align: left;

}

.nav{
margin-right: 10vh;
  text-align: left;
}
#opt{
  width: 2vh;
}

.menu:hover{

  color: rgb(36, 213, 60);
  font-family: sans-serif;
 
}
.menu{
  padding: 10px;
  color: rgb(13, 13, 13);
  font-family: sans-serif;
}
option{
 
  padding: 10px;
  color: black;
}
.cart{
display: flex;
position: relative;
float: right;
margin-left: 30vh;




}

.number{
  color: aliceblue;
  
border-radius: 50%;

  background-color: black;



}

.remove{
  background-color: rgb(252, 28, 28);
}

